{
	"name": "DiscTheme",
	"author": "Ascendant#2902",
	"version": "4.2.0",
	"description": "Segzy Ahh Theme!",
	"authors": [ 
		{
			"name": "Ascendant",
			"id": "948621380482641950"
		}
	],
	"background": {
		"blur": "1",
		"url": "https://imgur.com/gallery/UiYpEsI",
		"alpha": "0.69"
	},
	"theme_color_map": {
		"KEYBOARD": ["#030202", "#730808"],
		"BACKGROUND_PRIMARY": ["#030202", "#730808"],
		"BACKGROUND_SECONDARY": ["##030202", "#730808"],
		"BACKGROUND_SECONDARY_ALT": ["#030202", "#730808"],
		"BACKGROUND_TERTIARY": ["#030202", "#730808"],
		"BACKGROUND_ACCENT": ["#030202", "#730808"],
		"BACKGROUND_FLOATING": ["#030202", "#730808"],
		"BACKGROUND_NESTED_FLOATING": ["#030202", "#730808"],
		"BACKGROUND_MOBILE_PRIMARY": ["#030202", "#730808"],
		"BACKGROUND_MOBILE_SECONDARY": ["#030202", "#730808"],
		"BACKGROUND_MODIFIER_ACCENT": ["#030202", "#730808"],
		"BACKGROUND_MODIFIER_ACTIVE": ["#030202", "#730808"],
		"BACKGROUND_MODIFIER_SELECTED": ["#030202", "#730808"],
		"CHANNELS_DEFAULT": ["#030202", "#730808"],
		"HEADER_PRIMARY": ["#030202", "#730808"],
		"HEADER_SECONDARY": ["#030202", "#730808"],
		"INTERACTIVE_ACTIVE": ["#030202", "#730808"],
		"INTERACTIVE_MUTED": ["#030202", "#730808"],
		"INTERACTIVE_NORMAL": ["#030202", "#730808"],
		"TEXT_LINK": ["#030202", "#730808"],
		"TEXT_MUTED": ["#030202", "#730808"],
		"TEXT_NORMAL": ["#030202", "#730808"]
	},
	"colours": {
		"PRIMARY_DARK": "#030202",
		"PRIMARY_DARK_100": "#030202",
		"PRIMARY_DARK_300": "#030202",
		"PRIMARY_DARK_360": "#030202",
		"PRIMARY_DARK_400": "#030202",
		"PRIMARY_DARK_500": "#030202",
		"PRIMARY_DARK_600": "#030202",
		"PRIMARY_DARK_630": "#030202",
		"PRIMARY_DARK_700": "#030202",
		"PRIMARY_DARK_800": "#030202",
		"BRAND_NEW": "##730808",
		"WHITE": "#636060"
	},
	"unsafe_colors": {
		"CHAT_GREY": "#636060"
	}
}
